REACT_APP_SUPABASE_URL=https://hksxfetmvpfkngxlfdza.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhrc3hmZXRtdnBma25neGxmZHphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2MTg2MzksImV4cCI6MjA3ODE5NDYzOX0.YAq4RjlgXEd0oJmnCivVPoFTEXMPyICPMlwQ_TYdWc4