
REACT_APP_SUPABASE_URL=https://yrpzsoauvnomcprkoezv.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlycHpzb2F1dm5vbWNwcmtvZXp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzNTU1MDEsImV4cCI6MjA3NzkzMTUwMX0.9JX7po3UwCk-hPuR2XLBhOqTxZDI-GHv9I7ENK7OdOg
